/* 로딩 서클 색 */
.loader__figure {border: 0 solid #ED232E;}

/* nav i 깨짐방지*/
@media only screen and (max-width: 600px) {
	.nav-wrapper i{
    height: 64px;
    line-height: 64px; } }

/* logo */
.topbar nav .nav-wrapper .brand-logo .text {letter-spacing:-1px !important;white-space: nowrap;}

/*******************
font weight
*******************/
html body .font-5 {font-size: 5px;}
html body .font-6 {font-size: 6px;}
html body .font-7 {font-size: 7px;}
html body .font-8 {font-size: 8px;}
html body .font-9 {font-size: 9px;}
html body .font-10 {font-size: 10px;}
html body .font-11 {font-size: 11px;}
html body .font-12 {font-size: 12px;}
html body .font-13 {font-size: 13px;}
html body .font-14 {font-size: 14px;}
html body .font-15 {font-size: 15px;}
html body .font-16 {font-size: 16px;}
html body .font-17 {font-size: 17px;}
html body .font-18 {font-size: 18px;}
html body .font-19 {font-size: 19px;}
html body .font-20 {font-size: 20px;}
html body .font-21 {font-size: 21px;}
html body .font-22 {font-size: 22px;}
html body .font-23 {font-size: 23px;}
html body .font-24 {font-size: 24px;}
html body .font-25 {font-size: 25px;}
html body .font-26 {font-size: 26px;}
html body .font-27 {font-size: 27px;}
html body .font-28 {font-size: 28px;}
html body .font-29 {font-size: 29px;}
html body .font-30 {font-size: 30px;}

.cur_0{cursor: auto; }
.cur_1{cursor: default; }
.cur_2{cursor: pointer; }
.cur_3{cursor: wait; }

/*******************
fixed sidebar
*******************/
.left-part.fixed-left-part {background-color: #EDF4F8;z-index: 2;}
.left-part {border:0 }

/*******************
default media
*******************/
@media only screen and (max-width: 600px) {
	.ew-card{margin: 0 -20px;} /* card padding */
}