/*==================
font weight
==================*/
html body .font-0 {font-size: 0;}
html body .font-5 {font-size: 5px;}
html body .font-6 {font-size: 6px;}
html body .font-7 {font-size: 7px;}
html body .font-8 {font-size: 8px;}
html body .font-9 {font-size: 9px;}
html body .font-10 {font-size: 10px;}
html body .font-11 {font-size: 11px;}
html body .font-12 {font-size: 12px;}
html body .font-13 {font-size: 13px;}
html body .font-14 {font-size: 14px;}
html body .font-15 {font-size: 15px;}
html body .font-16 {font-size: 16px;}
html body .font-17 {font-size: 17px;}
html body .font-18 {font-size: 18px;}
html body .font-19 {font-size: 19px;}
html body .font-20 {font-size: 20px;}
html body .font-21 {font-size: 21px;}
html body .font-22 {font-size: 22px;}
html body .font-23 {font-size: 23px;}
html body .font-24 {font-size: 24px;}
html body .font-25 {font-size: 25px;}
html body .font-26 {font-size: 26px;}
html body .font-27 {font-size: 27px;}
html body .font-28 {font-size: 28px;}
html body .font-29 {font-size: 29px;}
html body .font-30 {font-size: 30px;}

.cur_0{cursor: auto; }
.cur_1{cursor: default; }
.cur_2{cursor: pointer; }
.cur_3{cursor: wait; }

/*==================
fixed sidebar
==================*/
.left-part.fixed-left-part {background-color: #EDF4F8;z-index: 3;}
.left-part {border:0 }

/*==================
common
==================*/
body {
    letter-spacing: -.25px;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
[type="checkbox"]:checked + span:not(.lever) {
    color: #000;
}
[type="checkbox"]:checked + span:not(.lever):before {
    border-right-color: #000;
    border-bottom-color: #000;
}
.dropdown-content li > a,
.dropdown-content li > span {
    color: #5b616e;
}
.page-titles .custom-breadcrumb .breadcrumb:last-child {
    color: #000 !important;
}
.btn, .btn-large, .btn-small, .btn-flat {
    letter-spacing: -.25px;
}
table {
    letter-spacing: -0.25px;
}
.left-part.fixed-left-part span.badge {
    display: inline-block;
    float: none;
    padding: 0;
    min-width: auto;
    width: 8px;
    height: 8px;
    margin-left: 3px;
    border-radius: 100%;
}
/* 로딩 서클 색
==================*/
.loader__figure {border: 0 solid #ED232E;}
/* nav i 깨짐방지
==================*/
@media only screen and (max-width: 600px) {
	.nav-wrapper i{
    height: 64px;
    line-height: 64px; }
}
/* logo
==================*/
.topbar nav .nav-wrapper .brand-logo .text {letter-spacing:-1px !important;white-space: nowrap;}

/*==================
login
==================*/
#loginform .logo img { width: 100%; }
#loginform .select-wrapper input.select-dropdown, .dropdown-content li > a, .dropdown-content li > span { font-size: 14px; }
#loginform [type="checkbox"] + span:not(.lever) { padding-left: 25px; line-height: 28px; font-size: 14px; }

/*==================
main
==================*/
/* commute modal
==================*/
.commute-modal {
    padding: 0 !important;
    letter-spacing: -0.25px;
}
.commute-header {
    padding-top: 1.5rem;
}
.commute-modal-tit {
    padding: 1.25rem 1rem;
    text-align: left;
    margin: 0;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
} 
.commute-modal-greet {
    padding: 0 1rem;
    font-size: 1.875rem;
    letter-spacing: -1px;
}
.commute-modal-greet.mrg {
    margin: 3rem 0 2rem;
}
.commute-modal-break {
    display: inline-block;
}
.commute-modal .swal2-actions {
    margin: 1.5rem 0 2.5rem;
}
.commute-modal p {
    padding: 0 1rem;
}
.commute-modal button {
    padding: 0 16px;
    margin: 0 5px;
    line-height: 35px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}
.commute-modal button.swal2-confirm {
    color: #fff;
    background-color: #00bcd4;
}
.commute-modal button.swal2-cancel {
    color: #fff;
    background-color: #9e9e9e;
}
.commute-modal.alarm {
    padding-top: 1rem !important;
}
@media only screen and (max-width: 600px) {
    .commute-modal {
        width: 85% !important;
    }
}
/* main wrapper
==================*/
#main-wrapper .scrollable.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 1s ease;
}
#main-wrapper .scrollable.on .card {
    margin-top: 0 !important;
}
@media (min-width: 767px) {
    #main-wrapper[data-layout="vertical"][data-layout="vertical"][data-sidebartype="mini-sidebar"] .topbar nav .nav-wrapper .brand-logo {
        width: 90px;
    }
    #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .topbar nav ul.left {
        margin-left: 90px;
    }
    #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .page-wrapper {
        margin-left: 0;
    }
}
@media (max-width: 766px){
    #main-wrapper[data-sidebartype="mini-sidebar"] .topbar nav .nav-wrapper ul.left {
        margin-left: 90px;
    }
    #main-wrapper[data-sidebartype="mini-sidebar"] .topbar nav ul a {
        margin: 0;
        font-size: 18px;
        background-color: transparent;
        box-shadow: none;
    }
}
/* 근로시간차트
==================*/
#btnSave {
    margin-top: -3px;
    width: 83px;
}
.main-worktime-box {
    height: 205px;
}
.main-worktime-box .card {
    height: 100%;
}
.worktime-chart-box {
    width: 100%;
}
.worktime-chart {
    position: relative;
    width: 100%;
    height: 20px;
}
.worktime-chart .bar {
    position: absolute;
    top: 0;
    height: 100%;
    color: #fff;
}
.worktime-chart .bar.overtime {
    left: 0;
    width: 85%;
    background-color: #4a148c;
}
.worktime-chart .bar.mytime {
    left: 0;
    width: 60%;
    background-color: #e0e0e0;
    z-index: 1;
}
.worktime-chart .bar.undertime {
    left: 0;
    width: 50%;
    background-color: #2979ff;
    z-index: 2;
}
.worktime-chart .count {
    position: absolute;
    right: 5px;
    line-height: 20px;
    font-size: 12px;
}
.worktime-chart .bar.mytime .count {
    top: -20px;
    right: 0;
    padding-bottom: 10px;
    padding-right: 5px;
    line-height: 1;
    border-right: 1px solid #fff;
}

@media (max-width: 767px) {
    .main-worktime-box,
    .main-worktime-box .card {
        height: auto;
    }
    .main-notice .btn-small {
        margin-top: 5px;
    }
    .main-notice-box .card .card-content,
    .main-worktime-box .card .card-content {
        padding: 25px 15px;
    }
    .main-worktime-box .card {
        margin: 0;
    }
    .worktime-chart .count {
        font-size: 10px;
    }
}

/*==================
sub
==================*/
.card .card-content .card-title i {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    vertical-align: top;
}
.base-table {
    font-size: 13px;
}
/* 근로시간게이지
==================*/
.worktime-tbl {
    margin-top: 2.25rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.worktime-tbl > .col {
    padding: 0;
}
.worktime-tbl-col {
    position: relative;
}
.worktime-tbl-col .col {
    padding: 0;
    height: 18px;
    line-height: 1.375;
    border-left: 1px solid #dfe0e1;
}
.worktime-tbl-time {
    display: inline-block;
    position: absolute;
    left: -1px;
    top: -1.75rem;
    line-height: 1;
    width: 100%;
}
.worktime-tbl-time:before {
    content: "";
    width: 1px;
    height: 0.75rem;
    position: absolute;
    top: 1rem;
    left: 1px;
    background-color: #dfe0e1;
}
.worktime-tbl-time.last {
    left: auto;
}
.worktime-tbl-time.last:before {
    left: -1px;
}
.worktime-tbl-color {
    display: inline-block;
    width: 14.28%;
    vertical-align: top;
}
.worktime-tbl-color .block {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
@media only screen and (max-width: 991.98px) {
    .worktime-tbl-box {
        padding: 0 !important;
    }
    .worktime-tbl-col .col {
        height: 15px;
    }
    .worktime-tbl-color {
        margin-top: 1rem;
        width: 33.33%;
    }
}
/* 근로현황
==================*/
.teamwork-tabs .tab a {
    font-size: 16px;
    color: #9098ac;
}
.teamwork-tabs .tab a:hover,
.teamwork-tabs .tab a:focus,
.teamwork-tabs .tab a:focus.active,
.teamwork-tabs .tab a.active {
    color: #5b616e;
    background-color: transparent;
}
.teamwork-tabs .indicator {
    background-color: #5b616e;
}
.teamwork-tbl {
    table-layout: fixed;
    margin-top: 1.5rem;
}
.teamwork-tbl.sum th:first-child {
    width: 30%;
}
.teamwork-tbl.day th:first-child {
    width: 10%;
}
.teamwork-tbl.name th:first-child {
    width: 15%;
}

/*==================
default media
==================*/
@media only screen and (max-width: 600px) {
    .ew-card{margin: 0 -20px;} /* card padding */
    
    .tbl-ovf-wrap {
        overflow-x: scroll;
        width: 100%;
    }
    .tbl-ovf-wrap table {
        width: 640px;
    }

}