<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Enjoy Working!</title>
    <meta name="title" content="Enjoy Working!" />
    <meta name="keywords" content="Enjoy Working!" />
    <meta name="description" content="Enjoy Working!" />
	<link rel="apple-touch-icon" sizes="57x57" href="../../content/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../../content/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../../content/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../../content/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../../content/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../../content/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../../content/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../../content/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../content/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../../content/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../content/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../../content/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../content/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="../../content/images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../../content/images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
    <link href="../../content/styles/style.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="../../content/styles/custom.css" rel="stylesheet"> <!-- joy0108 추가 -->
	<!-- Custom CSS -->
    <link href="../../content/styles/pages/authentication.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Enjoy Working!</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(../../assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box p-b-40">
                <div id="loginform">
                    <div class="logo">
                        <img src="../../content/images/EW-login-img.png" alt="Enjoy Working">
                    </div> <!-- joy0108 수정 -->
                    <!-- Form -->
                    <div class="row">
                        <form class="col s12" action="index.html">
                            <!-- select -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <select name="Company" id="Company">
                                        <option value="">대학내일</option>
                                        <option value="_nhrcomm">NHR</option>
                                        <option value="_nprcom">NPR</option>
                                        <option value="_51percent">오십일퍼센트</option>
                                        <option value="_research">리서치팩토리</option>
                                    </select>
                                </div>
                            </div> <!-- joy0108 추가 -->
                            <!-- email -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input class="validate" id="ID" maxlength="50" placeholder="ID" type="text">
                                    <label for="UserName">아이디</label>
                                </div>
                            </div>
                            <!-- pwd -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input class="validate" id="Password" maxlength="20" name="Password" placeholder="Password" type="password" />
                                    <label for="Password">패스워드</label>
                                </div>
                            </div>
                            <!-- pwd -->
                            <div class="row m-t-5">
                                <div class="col s7">
                                    <label>
                                        <input type="checkbox" />
                                        <span>아이디 저장</span>
                                    </label>
                                </div>
                                <!-- <div class="col s5 right-align"><a href="#" class="link" id="to-recover">Forgot Pwd?</a></div> -->
                            </div>
                            <!-- pwd -->
                            <div class="row m-t-30">
                                <div class="col s12">
                                    <button class="btn-large w100 red accent-4" type="submit">로그인</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="recoverform">
                    <div class="logo">
                        <span class="db"><img src="../../assets/images/logo-icon.png" alt="logo" /></span>
                        <h5 class="font-medium m-b-20">Recover Password</h5>
                        <span>Enter your Email and instructions will be sent to you!</span>
                    </div>
                    <div class="row">
                        <!-- Form -->
                        <form class="col s12" action="index.html">
                            <!-- email -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email1" type="email" class="validate" required>
                                    <label for="email1">Email</label>
                                </div>
                            </div>
                            <!-- pwd -->
                            <div class="row m-t-20">
                                <div class="col s12">
                                    <button class="btn-large w100 red" type="submit" name="action">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="../../content/scripts/jquery.min.js"></script>
    <script src="../../content/scripts/materialize.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('.tooltipped').tooltip();
    // ============================================================== 
    // Login and Recover Password 
    // ============================================================== 
    $('#to-recover').on("click", function() {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
    $(function() {
        $(".preloader").fadeOut();
    });

    //joy0108 추가 select initialize
    $('select').formSelect();
    </script>
</body>

</html>