<table summary="Enjoy Working 근로 승인 알람 메일" cellpadding="0" cellspacing="0" width="800" border="0" style="letter-spacing: -0.25px;border-collapse: collapse;">
    <tr>
        <td width="800" height="80" style="font-size: 0;line-height: 0;"><img src="http://publ.univ.me/html_univ_52hours/content/images/EW-mail-ci.png" alt="Enjoy Working" width="240" height="32" border="0" style="display: block;margin: 0;"></td>
    </tr> <!-- //Header-->
    <tr>
        <td width="800" height="20" align="center" style="font-size: 0;"></td>
    </tr> <!-- //여백 -->
    <tr>
        <td width="800" height="100" align="center" style="font-size: 0;"><strong style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 28px;font-weight: 400;line-height: 1;">결제를 기다리는 근로 승인 건이 있습니다.</strong></td>
    </tr> <!-- //결제를 기다리는 근로 승인 건이 있습니다. -->
    <tr>
        <td width="800" style="font-size: 0;line-height: 0;">
            <table cellpadding="0" cellspacing="0" width="100%" border="0" style="border-collapse: collapse;">
                <tr>
                    <th width="100" height="60" style="font-size: 0;border-top: 2px solid #000;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 14px;line-height: 1;text-align: left;">신청자</span></th>
                    <th width="220" height="60" style="font-size: 0;border-top: 2px solid #000;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 14px;line-height: 1;text-align: left;">신청시간</span></th>
                    <th width="120" height="60" style="font-size: 0;border-top: 2px solid #000;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 14px;line-height: 1;">타입</span></th>
                    <th width="240" height="60" style="font-size: 0;border-top: 2px solid #000;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 14px;line-height: 1;">신청(소급)사유</span></th>
                    <th width="120" height="60" style="font-size: 0;border-top: 2px solid #000;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 14px;line-height: 1;">신청일</span></th>
                </tr>
                <tr>
                    <td width="100" height="100"  align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">김진의</span></td>
                    <td width="220" height="100"  align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">2020.01.06 / 09:00-19:00</span></td>
                    <td width="120" height="100" align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">연장근로</span></td>
                    <td width="240" height="100" align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">서울대 채용박람회 작업</span></td>
                    <td width="120" height="100" align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">2020.01.06</span></td>
                </tr>
                <tr>
                    <td width="100" height="100"  align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">고은영</span></td>
                    <td width="220" height="100"  align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">2020.01.06 / 08:00-18:30</span></td>
                    <td width="120" height="100" align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">연장근로</span></td>
                    <td width="240" height="100" align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">20대연구소 오픈으로 8시 출근</span></td>
                    <td width="120" height="100" align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">2020.01.06</span></td>
                </tr>
                <tr>
                    <td width="100" height="100"  align="center" style="font-size: 0;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">김상호</span></td>
                    <td width="220" height="100"  align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">2020.01.06 / 09:00-18:30</span></td>
                    <td width="120" height="100" align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">연장근로</span></td>
                    <td width="240" height="100" align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">전산지원 요청 처리 진행 (외장하드 복구)</span></td>
                    <td width="120" height="100" align="center" style="font-size: 0;line-height: 1.2;border-bottom: 1px solid #dbdbdb;"><span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 15px;word-break: break-all;">2020.01.06</span></td>
                </tr>
            </table>
        </td>
    </tr> <!-- //근로승인대기 테이블 -->
    <tr>
        <td width="800" height="200" align="center" style="font-size: 0;line-height: 0;border-bottom: 1px solid #dbdbdb;">
            <a href="" target="_blank" title="승인하기 페이지로 이동" style="text-decoration: none;"><img src="http://publ.univ.me/html_univ_52hours/content/images/EW-mail-btn.png" alt="승인하기 버튼" width="200" height="60" algin="left" style="display: inline-block;margin: 0;vertical-align: top;"></a>
        </td>
    </tr> <!-- //승인하기 버튼 -->
    <tr>
        <td width="800" height="100" style="font-size: 0;line-height: 1.5;">
            <span style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 12px;">본 메일은 발신전용 알림메일입니다.</span><br><b style="font-family: 'Nanum Gothic','Malgun Gothic','돋움','dotum','AppleGothic', Helvetica, Arial, Sans-Serif;font-size: 12px;">COPYRIGHT© UNIVTOMORROW. ALL RIGHTS RESERVED</b>
        </td>
    </tr> <!-- //footer -->
</table>