<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Enjoy Working!</title>
    <meta name="title" content="Enjoy Working!" />
    <meta name="keywords" content="Enjoy Working!" />
    <meta name="description" content="Enjoy Working!" />
	<link rel="apple-touch-icon" sizes="57x57" href="../../content/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../../content/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../../content/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../../content/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../../content/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../../content/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../../content/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../../content/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../content/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../../content/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../content/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../../content/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../content/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="../../content/images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../../content/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="../../content/assets/sweetalert2/sweetalert2.min.css" rel="stylesheet">
    <link href="../../content/styles/style.css" rel="stylesheet">
	<link href="../../content/styles/custom.css" rel="stylesheet">
	<!-- Custom CSS -->
    <link href="../../content/assets/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
	<link href="../../content/styles/calendar.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper" id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Enjoy Working!</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <header class="topbar">
            <!-- ============================================================== -->
            <!-- Navbar scss in header.scss -->
            <!-- ============================================================== -->
            <nav>
                <div class="nav-wrapper">
                    <!-- ============================================================== -->
                    <!-- Logo you can find that scss in header.scss -->
                    <!-- ============================================================== -->
                    <a href="/views/html/" class="brand-logo">
                        <span class="icon">
                            <img class="light-logo" src="../../content/images/logo_40.png">
                            <img class="dark-logo" src="../../content/images/logo_40.png">
                        </span>
                        <span class="text"><h5 class="p-t-20">&nbsp;Enjoy Working!</h5></span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo you can find that scss in header.scss -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Left topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                    <ul class="right">
                        <li>
                            <!-- Mobile toggle button -->
                            <a class="ti-menu ti-close btn show-left-part d-block hide-on-med-and-up" href="javascript:void(0)"></a>
                        </li>
                        <!-- <li class="hide-on-med-and-down">
                            <a class="ti-menu ti-close btn show-left-part d-block hide-on-med-and-up" href="javascript:void(0)"></a>
                        </li>
                        <li class="hide-on-large-only">
                            <a href="javascript: void(0);" class="sidebar-toggle">
                                <span class="bars bar1"></span>
                                <span class="bars bar2"></span>
                                <span class="bars bar3"></span>
                            </a>
                        </li>
                        <li class="search-box">
                            <a href="javascript: void(0);"><i class="material-icons">search</i></a>
                            <form class="app-search z-depth-0">
                                <input type="text" class="form-control" placeholder="구성원" maxlength="10"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li> -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Left topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Right topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                    <ul class="right"></ul>
                    <!-- ============================================================== -->
                    <!-- Right topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                </div>
            </nav> <!-- //joy1224 수정 -->
            <!-- ============================================================== -->
            <!-- Navbar scss in header.scss -->
            <!-- ============================================================== -->
        </header>
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- <aside class="left-sidebar">
            <ul id="slide-out" class="sidenav">
                <li>
                    <ul class="collapsible">
                        <li class="small-cap"><span class="hide-menu">PERSONAL</span></li>
                        <li>
                            <a href="index.html" class="collapsible-header"><i class="material-icons">perm_contact_calendar</i><span class="hide-menu">HOME</span></a>
                        </li>
                        <li>
                            <a href="cal.html" class="collapsible-header"><i class="material-icons">add_alarm</i><span class="hide-menu">추가 근로 신청내역</span></a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header"><i class="material-icons">contacts</i><span class="hide-menu">월별 근로 현황</span></a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header"><i class="material-icons">date_range</i><span class="hide-menu">월별 보상 휴가 현황</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="collapsible">
                        <li class="small-cap"><span class="hide-menu">Authentication</span></li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">assignment</i><span class="hide-menu">근로 관리</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="javascript: void(0);"><i class="material-icons">assignment_ind</i><span class="hide-menu">근로 기본 설정</span></a></li>
                                    <li><a href="javascript: void(0);"><i class="material-icons">assignment_late</i><span class="hide-menu">근로 형태 설정</span></a></li>
                                    <li><a href="javascript: void(0);"><i class="material-icons">assignment_turned_in</i><span class="hide-menu">근로 형태 배정</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header"><i class="material-icons">access_time</i><span class="hide-menu">간주근로시간제 관리</span></a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">perm_contact_calendar</i><span class="hide-menu">휴일 관리</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="javascript: void(0);"><i class="material-icons">insert_invitation</i><span class="hide-menu">휴일 캘린더</span></a></li>
                                    <li><a href="javascript: void(0);"><i class="material-icons">today</i><span class="hide-menu">추가 휴일</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header"><i class="material-icons">account_circle</i><span class="hide-menu">근무제 승인관리</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside> joy1224 주석처리 -->
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Left Part  -->
            <!-- ============================================================== -->
            <div class="scrollable" style="height:100%;">
                <div class="left-part fixed-left-part font-12">
                    <!-- Mobile toggle button -->
                    <div class="scrollable" style="height:100%;">
                        <div class="card m-t-20">
                            <div class="card-content center-align">
                                <div class="profile-pic m-t-20">
                                    <img src="https://s3.ap-northeast-2.amazonaws.com/e-biz-sns-s3-seoul/NPM-S3/FileData/1/Users/581/Picture/bc81c90d-9d0c-4d7d-9ddc-a6807b045e27.jpg" width="100" class="circle" alt="user">
                                    <h5 class="m-t-10 m-b-0 card-title">김하늘</h5>
                                    <a href="javascript: void(0);">디지털커뮤니케이션즈 / 팀장</a>
                                </div>
                            </div>
                            <hr />
                            <div class="m-20">
                                <h6 class="font-14 font-bold">근태</h6>
                                <div>근무 형태 : 부분선택적 근로시간제</div>
                                <div>표준 근로시간 : 1일 8시간 (주5일)</div>
                                <div>의무적 근로시간대 : 10:00 -15:00</div>
                            </div>
                            <hr />
                            <div class="m-20">
                                <h6 class="font-14 font-bold">근무 승인</h6>
                                <div>승인 대기  : 00건 <span class="badge red"></span></div>
                                <div>승인 완료/거절  : 00건 / 00건</div>
                                <a class="waves-effect waves-light btn-small blue m-t-10">상세보기</a>
                            </div>
                            <hr />
                            <div class="m-20">
                                <h6 class="font-14 font-bold">이달의 근로 현황</h6>
                                <div>소정근로일 : 21일</div>
                                <div>휴무일 : 11일(유급8 /무급3)</div>
                                <div>출근 : 8회 (지각 00회)</div>
                                <div>휴가사용 : 12h</div>
                                <a class="waves-effect waves-light btn-small blue m-t-10">상세보기</a>
                            </div>
                            <hr />
                            <div class="m-20">
                                <h6 class="font-14 font-bold">남은 휴가 현황</h6>
                                <div>잔여 보상휴가 : 34h / 150h</div>
                                <div>잔여 연차 : 34h / 150h</div>
                                <a class="waves-effect waves-light btn-small blue m-t-10 m-r-5">휴가신청</a><a class="waves-effect waves-light btn-small blue m-t-10">보상휴가 내역</a>
                                <br />
                                <br />
                            </div>
                            <hr />
                            <div class="m-20">
                                <a href="https://intra.univ.me/" target="_blank" class="waves-effect waves-light btn-small  deep-orange darken-2">NPM으로 이동하기</a>
                                <br />
                                <br />
                            </div> <!-- joy0113 추가 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Left Part  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
            <div class="right-part">
                <div class="row">
                    <div class="col s12 m-t-10">
                        <div class="m-b-0 card success-gradient">
                            <div class="card-content">
                                <div class="d-flex no-block align-items-center">
                                    <div>
                                        <div class="white-text font-15">2019년 12월 근로시간 정산이 완료되어 관련 보상이 지급 되었습니다.</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a class="waves-effect waves-light btn-small cyan">결과확인</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- joy0102 공지사항 영역 추가 -->
                <div class="row">
                    <div class="col l5 m12 s12 m-t-10">
                        <div class="card danger-gradient">
                            <div class="card-content">
                                <div class="d-flex no-block align-items-center">
                                    <div>
                                        <div class="white-text m-b-5 font-20 font-bold">TODAY : 20년 1월 10일</div>
                                        <div class="white-text light-blue-text font-15">상태 : 근무중</div>
                                        <div class="white-text light-blue-text font-15">
                                            <div>근무시간 : 09:00 – 18:00</div>
                                            <div>(휴게 시간 : 12:00~13:00)</div>
                                        </div>
                                    </div>
                                    <div class="ml-auto">
                                        <a class="btn-floating btn-large red right">퇴근</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l7 m12 s12 m-t-10">
                        <div class="card info-gradient">
                            <div class="card-content">
                                <div class="d-flex no-block align-items-center">
                                    <div>
                                        <div class="white-text m-b-5 font-20">2020년 01월 01일 - 01월 31일</div>
                                        <div class="white-text light-blue-text font-15">기본근로시간: 160h(근무154+휴가6) / 160h</div>
                                        <div class="white-text light-blue-text font-15">연장근로가능시간: 12.5h / 56(48+6)h</div>
                                        <div class="white-text light-blue-text font-15">최대근로가능시간: 178.5h/ 208h</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a id="btnSave" class="btn-floating btn-large blue right">등록</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ew-cal-rem">
                    <div class="col s12">
                        <div class="card z-depth-0">
                            <div class="card-content">
                                <div class="d-flex no-block align-items-center justify-content-center">
                                    <div><i class="ti-angle-left display-7 m-r-10 cur_2" id="ewPrevButton"></i></div>
                                    <div>
                                        <h3 class="m-b-0" id="ewCalTitle"></h3>
                                    </div>
                                    <div><i class="ti-angle-right display-7 m-l-10 cur_2" id="ewNextButton"></i></div>
                                </div>
                            </div>
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
            <footer class="center-align m-b-30 font-12">2020 COPYRIGHT(C) UNIVTOMORROW.ALL RIGHTS RESERVED. <a href="https://corp.univ.me" target="_blank">대학내일</a></footer>
        </div>
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <div class="chat-windows"></div>
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="../../content/scripts/jquery.min.js"></script>
    <script src="../../content/scripts/materialize.min.js"></script>
    <script src="../../content/assets/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- ============================================================== -->
    <!-- Apps -->
    <!-- ============================================================== -->
    <script src="../../content/scripts/app.js"></script>
    <!-- ============================================================== -->
    <!-- Custom js -->
    <!-- ============================================================== -->
    <script src="../../content/scripts/custom.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="../../content/assets/fullcalendar/moment.min.js"></script>
    <script src="../../content/assets/fullcalendar/fullcalendar.min.js"></script>
    <script src="../../content/assets/fullcalendar/ko.js"></script>
    <script src="../../content/assets/sweetalert2/sweetalert2.all.min.js"></script>
    <script>
        // ============================================================== //
        // default option //
        // ============================================================== //
        $(function () {
            "use strict";
            $("#main-wrapper").AdminSettings({
                Theme: false, // this can be true or false ( true means dark and false means light ),
                Layout: 'vertical',
                LogoBg: 'skin6', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                NavbarBg: 'skin6', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                SidebarType: 'mini-sidebar', // You can change it full / mini-sidebar / iconbar / overlay
                SidebarColor: 'skin6', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                SidebarPosition: false, // it can be true / false
                HeaderPosition: false, // it can be true / false
                BoxedLayout: true, // it can be true / false
            });
        });

        var calendarSource = [
            {
                id: 1,
                title: '6h',
                start: '2019-11-06T10:00:01',
                className: "ew-total",
                icon: 'sum'
            },
            {
                id: 2,
                title: '0h',
                start: '2019-11-06T10:00:02',
                className: "ew-empty",
                icon: 'empty'
            },
            {
                id: 3,
                title: '근무: 09:00~21:00',
                start: '2019-11-06T10:00:04'
            },
            {
                id: 4,
                title: '6h',
                start: '2019-11-07T10:00:01',
                className: "ew-total",
                icon: 'sum'
            },
            {
                id: 5,
                title: '2h',
                start: '2019-11-07T10:00:02',
                className: "ew-off",
                icon: 'offsum'
            },
            {
                id: 6,
                title: '8h',
                start: '2019-11-11T10:00:00',
                className: 'ew-total-off',
                icon: 'dayoff'
            },
            {
                id: 7,
                title: 'L2',
                start: '2019-11-12T10:00:00',
                className: 'ew-total-out',
                icon: 'outside'
            },
            {
                id: 8,
                title: '6h',
                start: '2019-11-13T10:00:01',
                className: "ew-total",
                icon: 'sum'
            },
            {
                id: 9,
                title: '5h',
                start: '2019-11-13T10:00:02',
                className: "ew-off",
                icon: 'offsum'
            },
            {
                id: 10,
                title: '휴가: 09:00~21:00',
                start: '2019-11-13T10:00:03',
                className: "ew-approval",
                icon: 'approval'
            },
            {
                id: 11,
                title: '근무: 09:00~21:00',
                start: '2019-11-13T10:00:04'
            },
            {
                id: 12,
                title: '근무: 09:00~21:00',
                start: '2019-11-13T10:00:05'
            },
            {
                id: 13,
                title: '출장: 09:00~21:00',
                start: '2019-11-13T10:00:06'
            },
            {
                id: 14,
                title: '휴가: 09:00~21:00',
                start: '2019-11-13T10:00:07',
                className: "ew-green"
            }];

        $(document).ready(function () {
            var ewCal = $('#calendar').fullCalendar({
                header: false,
                buttonIcons: {
                    prev: 'left-single-arrow',
                    next: 'fa-chevron-right'
                },
                lang: 'ko',
                editable: false,
                droppable: false,
                eventLimit: false,
                contentHeight: "auto",
                displayEventTime: false,
                events: calendarSource,
                eventRender: function (event, element) {
                    if (event.icon) {
                        switch (event.icon) {
                            case 'approval':
                                element.find(".fc-title").before("<i class='ti-pencil-alt tiny'></i>&nbsp;");
                                break;
                            case 'sum':
                                element.find(".fc-title").before("<i class='far fa-clock tiny'></i>&nbsp;");
                                break;
                            case 'offsum':
                                element.find(".fc-title").before("<i class='ti-face-smile tiny'></i>&nbsp;");
                                break;
                            case 'outside':
                                //element.find(".fc-title").before("<i class='ti-truck tiny'></i>&nbsp;");
                                element.find(".fc-title").before("<i class='fas fa-car tiny'></i>&nbsp;");
                                break;
                            case 'dayoff':
                                //element.find(".fc-title").before("<i class='ti-truck tiny'></i>&nbsp;");
                                element.find(".fc-title").before("<i class='fas fa-plane tiny'></i>&nbsp;");
                                break;
                            default:
                                break;
                        }
                    }
                },
                dayRender: function (date, cell) {

                    if (moment().diff(date, 'days') > 0) {
                        cell.css('background-color', '#f5f5f5');
                    }

                    //---체크박스 추가 key724 2019/12/10 --//
                    if (cell.hasClass("fc-past") == false) {
                        var dd = date._d.getDate();
                        var yyyymmdd = cell.attr("data-date");

                        $("td.fc-day-top[data-date=" + yyyymmdd + "]").not(".fc-day-past").html('<label class="day-checkbox-box"><input name="day-checkbox" type="checkbox" value="' + yyyymmdd + '" /><span></span></label>' + '<span style="float:right">' + dd + '</span>');
                    }
                    //-- 체크박스 추가 key724 2019/12/10 끝 --//

                },
                viewRender: function (view, element) {
                    //element.find('.fc-day-header').html('');
                },
                dayClick: function (date) {
                    //console.log(moment(date).format('YYYY-MM-DD')); <-- 해당 날자로 상단 설정
                },
                eventClick: function (date) {
                    //console.log(moment(date.start).format('YYYY-MM-DD')); <-- 해당 날자로 상단 설정
                }
                //eventSources: [getJobNoticeList],
                //eventSources: {
                //    url: "/Home/GetJobNoticeList",
                //    type: 'POST',
                //    error: function () {
                //        alert('there was an error while fetching events');
                //    },
                //    success: function (data) {
                //        return data;
                //    }
                //}
            });

            $('#ewPrevButton').on('click', function () {
                ewCal.fullCalendar('prev');
                changeEwTitle(ewCal);
            });

            $('#ewNextButton').on('click', function () {
                ewCal.fullCalendar('next');
                changeEwTitle(ewCal);
            });

            // ============================================================== //
            // title //
            // ============================================================== //
            // _type = 1; period
            var changeEwTitle = function (_obj, _type) {
                var gwView = _obj.fullCalendar('getView');

                switch (_type) {
                    case 1:
                        gwView = moment(gwView.start).format('YYYY.MM.DD') + " ~ " + moment(gwView.end).format('YYYY.MM.DD');
                        break;
                    default:
                        gwView = moment(gwView.intervalStart).format('YYYY. MM');
                        break;
                }
                return $('#ewCalTitle').text(gwView);
            }
            changeEwTitle(ewCal);

            // ============================================================== //
            // eventLimite //
            // ============================================================== //
            var ewOption = ewCal.fullCalendar('getView').options;
            var chkDestory;
            var chkWidth = $(window).width();

            var ewCalSetLimite = function (_obj, _count) {
                ewOption.eventLimit = _count;
                _obj.fullCalendar('destroy');
                _obj.fullCalendar(ewOption);
            }

            if (chkWidth <= 600) {
                ewCalSetLimite(ewCal, 2);
                chkDestory = 'down';
            } else {
                ewCalSetLimite(ewCal, 0);
                chkDestory = 'up';
            }


            $(window).resize(function () {
                if ($(window).width() <= 600 && chkDestory == 'up') {
                    ewCalSetLimite(ewCal, 2);
                    chkDestory = 'down';
                } else if ($(window).width() > 600 && chkDestory == 'down') {
                    ewCalSetLimite(ewCal, 0);
                    chkDestory = 'up';
                }
            });


        });
    </script>
    <script>
        $(document).ready(function () {

            //출퇴근 팝업
            function commuteModal(){
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    customClass: {
                        popup: "commute-modal"
                    },
                    html:
                    "<h6 class='commute-modal-tit'>출근</h6>" +
                    "<h4 class='commute-modal-greet mrg'>홍길동님 반갑습니다</h4>" +
                    "<p><b>TODAY : 20년 1월 10일 금요일</b><br>" +
                    "근무시간 : 09:00 – 18:00 <small class='commute-modal-break'>(휴게 시간 : 12:00~13:00)</small></p>" +
                    "<b>현재시간 08:50분</b>",
                    confirmButtonText: "출근합니다!"
                }).then((result) => {
                    if (result.value) {
                        swalWithBootstrapButtons.fire({
                            customClass: {
                                popup: "commute-modal",
                                header: "commute-header"
                            },
                            icon: "success",
                            html: "<h4 class='commute-modal-greet'>출근하셨습니다.</h4>",
                            confirmButtonText: "확인"
                        })
                    }
                })
            }
            commuteModal();

            //스크롤시 직원 기본정도 포지션
            $(window).scroll(function(){
                var windowST = $(this).scrollTop();
                if(windowST <= 0) {
                    $('.scrollable').removeClass('on');
                } else {
                    $('.scrollable').addClass('on');
                }
            });

            //일반 체크박스와 동일하게 보시면 되요~
            $("#btnSave").click(function () {

                var arryChkObj = $("input[name=day-checkbox]:checked");
                if (arryChkObj.length > 0) {

                    var json = [];
                    $("input[name=day-checkbox]:checked").each(function (idx, obj) {
                        json.push($(obj).val());
                    });

                    alert(JSON.stringify(json));
                }
                else {
                    alert("날짜를 선택해 주세요.");
                }
                
            });
        })
    </script>
    <style>
        .day-checkbox-box {
            float: left;
            padding-left: 5px;
        }

        [type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
            border: 1px solid #5a5a5a;
            width: 16px;
            height: 16px;
        }

        [type="checkbox"]:checked + span:not(.lever):before {
            width: 8px;
            height: 18px;
        }
    </style>
</body>

</html>