<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enjoy Working!</title>
    <meta name="title" content="Enjoy Working!" />
    <meta name="keywords" content="Enjoy Working!" />
    <meta name="description" content="Enjoy Working!" />
    <link rel="apple-touch-icon" sizes="57x57" href="../../content/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../content/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../content/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../content/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../content/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../content/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../content/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../content/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../content/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../content/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../content/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../content/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../content/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../content/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../content/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="../../content/styles/style.css" rel="stylesheet">
    <link href="../../content/styles/custom.css" rel="stylesheet">
    <!-- Custom CSS -->
    <!-- This page CSS -->
    <link href="../../content/assets/timespace/css/jquery.timespace.light.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="main-wrapper" id="main-wrapper">    
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Enjoy Working!</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <header class="topbar">
            <!-- ============================================================== -->
            <!-- Navbar scss in header.scss -->
            <!-- ============================================================== -->
            <nav>
                <div class="nav-wrapper">
                    <!-- ============================================================== -->
                    <!-- Logo you can find that scss in header.scss -->
                    <!-- ============================================================== -->
                    <a href="/views/html/" class="brand-logo">
                        <span class="icon">
                            <img class="light-logo" src="../../content/images/logo_40.png">
                            <img class="dark-logo" src="../../content/images/logo_40.png">
                        </span>
                        <span class="text"><h5 class="p-t-20">&nbsp;Enjoy Working!</h5></span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo you can find that scss in header.scss -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Left topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                    <ul class="right">
                        <li>
                            <!-- Mobile toggle button -->
                            <a class="ti-menu ti-close btn show-left-part d-block hide-on-med-and-up" href="javascript:void(0)"></a>
                        </li>
                        <!-- <li class="hide-on-med-and-down">
                            <a class="ti-menu ti-close btn show-left-part d-block hide-on-med-and-up" href="javascript:void(0)"></a>
                        </li>
                        <li class="hide-on-large-only">
                            <a href="javascript: void(0);" class="sidebar-toggle">
                                <span class="bars bar1"></span>
                                <span class="bars bar2"></span>
                                <span class="bars bar3"></span>
                            </a>
                        </li>
                        <li class="search-box">
                            <a href="javascript: void(0);"><i class="material-icons">search</i></a>
                            <form class="app-search z-depth-0">
                                <input type="text" class="form-control" placeholder="구성원" maxlength="10"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li> -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Left topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Right topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                    <ul class="right"></ul>
                    <!-- ============================================================== -->
                    <!-- Right topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                </div>
            </nav>
            <!-- ============================================================== -->
            <!-- Navbar scss in header.scss -->
            <!-- ============================================================== -->
        </header>
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- <aside class="left-sidebar">
            <ul id="slide-out" class="sidenav">
                <li>
                    <ul class="collapsible"  style="display:none">
                        <li class="small-cap"><span class="hide-menu">PERSONAL</span></li>
                        <li>
                            <a href="index.html" class="collapsible-header"><i class="material-icons">perm_contact_calendar</i><span class="hide-menu">HOME</span></a>
                        </li>
                        <li>
                            <a href="cal.html" class="collapsible-header"><i class="material-icons">add_alarm</i><span class="hide-menu">추가 근로 신청내역</span></a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header"><i class="material-icons">contacts</i><span class="hide-menu">월별 근로 현황</span></a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header"><i class="material-icons">date_range</i><span class="hide-menu">월별 보상 휴가 현황</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="collapsible"  style="display:none">
                        <li class="small-cap"><span class="hide-menu">Authentication</span></li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">assignment</i><span class="hide-menu">근로 관리</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="javascript: void(0);"><i class="material-icons">assignment_ind</i><span class="hide-menu">근로 기본 설정</span></a></li>
                                    <li><a href="javascript: void(0);"><i class="material-icons">assignment_late</i><span class="hide-menu">근로 형태 설정</span></a></li>
                                    <li><a href="javascript: void(0);"><i class="material-icons">assignment_turned_in</i><span class="hide-menu">근로 형태 배정</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header"><i class="material-icons">access_time</i><span class="hide-menu">간주근로시간제 관리</span></a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header has-arrow"><i class="material-icons">perm_contact_calendar</i><span class="hide-menu">휴일 관리</span></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="javascript: void(0);"><i class="material-icons">insert_invitation</i><span class="hide-menu">휴일 캘린더</span></a></li>
                                    <li><a href="javascript: void(0);"><i class="material-icons">today</i><span class="hide-menu">추가 휴일</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="collapsible-header"><i class="material-icons">account_circle</i><span class="hide-menu">근무제 승인관리</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside> -->
        <!-- ============================================================== -->
        <!-- Sidebar scss in sidebar.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Left Part  -->
            <!-- ============================================================== -->
            <div class="scrollable" style="height:100%;">
                <div class="left-part fixed-left-part font-12">
                    <div class="scrollable" style="height:100%;">
                        <div class="card m-t-20">
                            <div class="card-content center-align">
                                <div class="profile-pic m-t-20">
                                    <img src="https://s3.ap-northeast-2.amazonaws.com/e-biz-sns-s3-seoul/NPM-S3/FileData/1/Users/727/Picture/cefdfe5d-9024-4065-a2eb-112d449ba2c8.jpg" width="100" class="circle" alt="user">
                                    <h5 class="m-t-10 m-b-0 card-title">조이슬</h5>
                                    <a href="javascript: void(0);">E-Biz팀 / 매니저</a>
                                </div>
                            </div>
                            <hr />
                            <div class="m-20">
                                <h6 class="font-14 font-bold">근태</h6>
                                <div>근무 형태 : 부분선택적 근로시간제</div>
                                <div>표준 근로시간 : 1일 8시간 (주5일)</div>
                                <div>의무적 근로시간대 : 10:00 -15:00</div>
                            </div>
                            <hr />
                            <div class="m-20">
                                <h6 class="font-14 font-bold">근무 승인</h6>
                                <div>승인 대기  : 00건</div>
                                <div>승인 완료/거절  : 00건 / 00건</div>
                                <a class="waves-effect waves-light btn-small blue m-t-10">상세보기</a>
                            </div>
                            <hr />
                            <div class="m-20">
                                <h6 class="font-14 font-bold">이달의 근로 현황</h6>
                                <div>소정근로일 : 21일</div>
                                <div>휴무일 : 11일(유급8 /무급3)</div>
                                <div>출근 : 8회 (지각 00회)</div>
                                <div>휴가사용 : 12h</div>
                                <a class="waves-effect waves-light btn-small blue m-t-10">상세보기</a>
                            </div>
                            <hr />
                            <div class="m-20">
                                <h6 class="font-14 font-bold">남은 휴가 현황</h6>
                                <div>잔여 보상휴가 : 34h / 150h</div>
                                <div>잔여 연차 : 34h / 150h</div>
                                <a class="waves-effect waves-light btn-small blue m-t-10 m-r-5">휴가신청</a>
                                <a class="waves-effect waves-light btn-small blue m-t-10">보상휴가 내역</a>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Left Part  -->
            <!-- ============================================================== -->
            <div class="right-part">
                <!-- ============================================================== -->
                <!-- Title and breadcrumb -->
                <!-- ============================================================== -->
                <div class="page-titles">
                    <div class="d-flex align-items-center">
                        <h5 class="font-medium m-b-0">이달의 보상휴가 내역</h5>
                        <div class="custom-breadcrumb ml-auto">
                            <a href="#!" class="breadcrumb">Home</a>
                            <a href="#!" class="breadcrumb">보상휴가 내역</a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="col s12 m12 l12">
                        <div class="card card card-default scrollspy">
                            <div class="card-content">
                                <div class="col s12">
                                    <div class="d-flex no-block align-items-center justify-content-center m-t-20 m-b-20">
                                        <div><i class="ti-angle-left display-7 m-r-10 cur_2" id="ewPrevButton"></i></div>
                                        <div>
                                            <h3 class="m-b-0" id="ewCalTitle"></h3>
                                        </div>
                                        <div><i class="ti-angle-right display-7 m-l-10 cur_2" id="ewNextButton"></i></div>
                                    </div>
                                    <div class="col s12">
                                        <h4 class="card-title m-b-0" style="padding-top: 1rem;"><i class="Small material-icons">accessibility</i> 근로 정산(보상)</h4>
                                        <div class="row">
                                            <div class="col s12">
                                                <label class="red-text">※ 이달의 연장(휴일/야근포함) 근로에 대한 보상휴가는 정산 기간을 거쳐 익월 10일에 일괄 반영됩니다.</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <table class="centered base-table teamwork-tbl sum">
                                                <thead>
                                                    <tr>
                                                        <th class="grey white-text" style="width: auto;">이름</th>
                                                        <th class="grey white-text">연장근로<br>( x 1.5배 )</th>
                                                        <th class="grey white-text">연장근로<br>( 휴가사용으로 부여 x 1배 )</th>
                                                        <th class="grey white-text">휴일근로<br>( x 1.5배 )</th>
                                                        <th class="grey white-text">야간근로<br>( x 1.5배 )</th>
                                                        <th class="grey white-text">간주근로<br>( x 1.5배 )</th>
                                                        <th class="grey white-text">총 보상휴가</th>
                                                        <th class="grey white-text">상세보기</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>김진의</td>
                                                        <td class="grey lighten-3">120h</td>
                                                        <td class="grey lighten-3">80h</td>
                                                        <td class="grey lighten-3">30h</td>
                                                        <td class="grey lighten-3">30h</td>
                                                        <td class="grey lighten-3">30h</td>
                                                        <td class="grey lighten-2">530h</td>
                                                        <td><a class="waves-effect waves-light btn-small blue">상세</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>김부록</td>
                                                        <td class="grey lighten-3">120h</td>
                                                        <td class="grey lighten-3">80h</td>
                                                        <td class="grey lighten-3">30h</td>
                                                        <td class="grey lighten-3">30h</td>
                                                        <td class="grey lighten-3">30h</td>
                                                        <td class="grey lighten-2">530h</td>
                                                        <td><a class="waves-effect waves-light btn-small blue">상세</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>김상호</td>
                                                        <td class="grey lighten-3">120h</td>
                                                        <td class="grey lighten-3">80h</td>
                                                        <td class="grey lighten-3">30h</td>
                                                        <td class="grey lighten-3">30h</td>
                                                        <td class="grey lighten-3">30h</td>
                                                        <td class="grey lighten-2">530h</td>
                                                        <td><a class="waves-effect waves-light btn-small blue">상세</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-titles p-l-0">
                            <div class="d-flex align-items-center">
                                <h5 class="font-medium m-b-0">홍길동의 근로 보상 상세 내역</h5>
                                <div class="ml-auto">
                                    <a class="waves-effect waves-light btn-small blue">엑셀 다운로드</a>
                                </div>
                            </div>
                        </div>
                        <div class="card card card-default scrollspy m-t-40">
                            <div class="card-content">
                                <div class="col s12">
                                    <h4 class="card-title m-b-0" style="padding-top: 1rem;"><i class="Small material-icons">brightness_3</i> 연장근로</h4>
                                    <div class="row">
                                        <div class="col s12">
                                            <label class="red-text">※ 이달의 연장(휴일/야근포함) 근로에 대한 보상휴가는 정산 기간을 거쳐 익월 10일에 일괄 반영됩니다.</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <table class="centered base-table teamwork-tbl sum">
                                            <thead>
                                                <tr>
                                                    <th class="grey lighten-4">날짜</th>
                                                    <th class="grey lighten-4">실제 근무 시간</th>
                                                    <th class="grey lighten-4">보상</th>
                                                    <th class="grey lighten-4">지급 보상휴가</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>월 합산 연장근로</td>
                                                    <td>10h</td>
                                                    <td>x 1.5배</td>
                                                    <td>15h</td>
                                                </tr>
                                                <tr>
                                                    <td>월 합산 연장근로<br>(휴가사용으로 부여)</td>
                                                    <td>10h</td>
                                                    <td>x 1배</td>
                                                    <td>15h</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr style="margin:2.5rem 0">
                                <div class="col s12">
                                    <h4 class="card-title m-b-0" style="padding-top: 1rem;"><i class="Small material-icons">work</i> 간주근로</h4>
                                    <div class="row">
                                        <table class="centered base-table teamwork-tbl sum">
                                            <thead>
                                                <tr>
                                                    <th class="grey lighten-4">날짜</th>
                                                    <th class="grey lighten-4">옵션</th>
                                                    <th class="grey lighten-4">지급 보상휴가</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>11/11</td>
                                                    <td>L1</td>
                                                    <td>0h</td>
                                                </tr>
                                                <tr>
                                                    <td>11/15</td>
                                                    <td>L2</td>
                                                    <td>2h</td>
                                                </tr>
                                                <tr>
                                                    <td>11/15</td>
                                                    <td>L2</td>
                                                    <td>2h</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr style="margin:2.5rem 0">
                                <div class="col s12">
                                    <h4 class="card-title m-b-0" style="padding-top: 1rem;"><i class="Small material-icons">weekend</i> 야간/휴일근로</h4>
                                    <div class="row">
                                        <table class="centered base-table teamwork-tbl sum">
                                            <thead>
                                                <tr>
                                                    <th class="grey lighten-4">날짜</th>
                                                    <th class="grey lighten-4">시간</th>
                                                    <th class="grey lighten-4">실제 근무 시간</th>
                                                    <th class="grey lighten-4">근로형태</th>
                                                    <th class="grey lighten-4">보상</th>
                                                    <th class="grey lighten-4">지급 보상휴가</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>11/11</td>
                                                    <td>01:00~04:00</td>
                                                    <td>4h</td>
                                                    <td>야간</td>
                                                    <td>x 1.5배</td>
                                                    <td>6h</td>
                                                </tr>
                                                <tr>
                                                    <td>11/15</td>
                                                    <td>13:00~24:00</td>
                                                    <td>12h</td>
                                                    <td>휴일</td>
                                                    <td>x 1.5배</td>
                                                    <td>18h</td>
                                                </tr>
                                                <tr>
                                                    <td>11/15</td>
                                                    <td>22:00~04:00</td>
                                                    <td>2h</td>
                                                    <td>야간</td>
                                                    <td>x 1.5배</td>
                                                    <td>3h</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="center-align m-b-30 font-12">2020 COPYRIGHT(C) UNIVTOMORROW.ALL RIGHTS RESERVED. <a href="https://corp.univ.me" target="_blank">대학내일</a></footer>
        </div>
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <div class="chat-windows"></div>
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="../../content/scripts/jquery.min.js"></script>
    <script src="../../content/scripts/materialize.min.js"></script>
    <script src="../../content/assets/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- ============================================================== -->
    <!-- Apps -->
    <!-- ============================================================== -->
    <script src="../../content/scripts/app.js"></script>
    <!-- ============================================================== -->
    <!-- Custom js -->
    <!-- ============================================================== -->
    <script src="../../content/scripts/custom.js"></script>
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="../../content/assets/fullcalendar/moment.min.js"></script>
    <script src="../../content/assets/fullcalendar/fullcalendar.min.js"></script>
    <script src="../../content/assets/fullcalendar/ko.js"></script>
    <script>
        Index = {}

        // ============================================================== //
        // default option //
        // ============================================================== //
        $(function () {
            "use strict";
            $("#main-wrapper").AdminSettings({
                Theme: false, // this can be true or false ( true means dark and false means light ),
                Layout: 'vertical',
                LogoBg: 'skin6', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                NavbarBg: 'skin6', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                SidebarType: 'mini-sidebar', // You can change it full / mini-sidebar / iconbar / overlay
                SidebarColor: 'skin6', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                SidebarPosition: false, // it can be true / false
                HeaderPosition: false, // it can be true / false
                BoxedLayout: true, // it can be true / false
            });
        });

        $(document).ready(function(){

            var now = new Date();
            var months = new Array( "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12");

            $('#ewCalTitle').html(now.getFullYear()+'. '+months[now.getMonth()]);

            $('#ewPrevButton').click(function(){
                var past = now.setMonth(now.getMonth() - 1, 1);
                $('#ewCalTitle').html(now.getFullYear()+'. '+months[now.getMonth()]);
            });

            $('#ewNextButton').click(function(){
                var future = now.setMonth(now.getMonth() + 1, 1);
                $('#ewCalTitle').html(now.getFullYear()+'. '+months[now.getMonth()]);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            //스크롤시 직원 기본정도 포지션
            $(window).scroll(function(){
                var windowST = $(this).scrollTop();
                if(windowST <= 0) {
                    $('.scrollable').removeClass('on');
                } else {
                    $('.scrollable').addClass('on');
                }
            });

            //일별 상세 탭
            $('.teamwork-tabs').tabs();
        });
    </script>
</body>
</html>